<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="AXMbsDevEntities" connectionString="metadata=res://*/AXMbsDevModel.csdl|res://*/AXMbsDevModel.ssdl|res://*/AXMbsDevModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=AXMbsDev;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>